.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.labelContainer {
  display: flex;
  flex-direction: column;
}

.messageContainer {
  display: flex;
  flex-direction: column;

  textarea {
    height: 150px;
    outline: none;
    resize: none;
    width: 350px;
  }
}

input {
  height: 35px;
  margin: 2px;
  outline: none;
  padding: 3px;
  width: 350px;
}

button {
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 15px;

  &:hover {
    opacity: 0.5;
  }
}